name: Deploy to production
on:
  workflow_dispatch:

jobs:
  deploy-production:
    runs-on: ubuntu-latest

    steps:
    - name: Deploy to production
      uses: fjogeleit/http-request-action@v1
      id: deployProduction
      with:
        url: ${{ secrets.PRODUCTION_URL }}"&"${{ github.sha }}
      
    - name: Show Response
      run: |
        echo ${{ steps.deployProduction.outputs.response }}
        echo ${{ steps.deployProduction.outputs.headers }}